#main-sidebar-profile-card-pp img {
    height: 65px;
    width: 65px;
    border-radius: 50%;
}

#main-sidebar-profile-card-pp, #main-sidebar-profile-card-textuals {
    display: inline-block;
    vertical-align: middle;
}

#main-sidebar-profile-card-textuals {
    margin-right: 10px;
}

#main-sidebar-profile-card-textuals .fullname {
    font-weight: bold;
}

#main-sidebar-profile-card-numeral {
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
}

#main-sidebar-profile-card-numeral .item {
    display: inline-block;
    font-weight: bold;
    font-size: 0.9em;
    text-align: center;
    margin-left: 20px;
}

#main-sidebar-profile-card-numeral .item .text {
    font-size: 0.7em;
}

#main-sidebar-profile-card-numeral .item .number {
    color: #c03b2b;
}

/* Story */
#sidebar-story-title {
    font-weight: bold;
    margin-top: 15px;
    font-size: 0.9em;
    margin-bottom: 5px;
}

#sidebar-story-items .item > * {
    display: inline-block;
    vertical-align: middle;
}

#sidebar-story-items .item .pic img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

#sidebar-story-items .item .textual {
    margin-right: 20px;
}

#sidebar-story-items .item .textual .fullname {
    font-weight: bold;
    font-size: 0.9em;
    color: #3e3e3e;
}

#sidebar-story-items .item .textual .time {
    font-size: 0.8em;
    color: #9e9e9e;
}

#sidebar-story-items .item:not(:last-child) {
    margin-bottom: 10px;
}

#sidebar-story-items-list {
    max-height: 271px;
    overflow-y: scroll;
    margin-top: 25px;
}

#sidebar-credit {
    padding: 10px 0;
    color: #7b7b7b;
    font-weight: lighter;
}

#sidebar-credit > .footer-link {
    color: #6f6f6f;
    font-weight: normal;
    margin-left: 2px;
}

#sidebar-credit > .footer-link:hover {
    text-decoration: underline;
}

#right-sidebar-links {
    margin-top: 60px;
}

#right-sidebar-links .link {
    display: block;
    color: #6a6a6a;
    height: 32px;
    line-height: 32px;
}

#right-sidebar-links .link.active {
    color: #c03b2b;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link-filter-icon {
    background-image: url("../img/icons/filter.svg");
    height: 14px;
    width: 14px;
    background-size: 14px;
    padding: 15px;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;;
    display: none;
}

.nav-link-filter-icon:hover {
    opacity: 0.8;
}

.rigt-sidebar-item-num {
    height: 22px;
    width: 22px;
    text-align: center;
    line-height: 22px;
    color: #fff;
    background-color: #c03b2b;
    border-radius: 50%;
    font-size: 0.8em;
    float: left;
    margin-left: 8px;
}

#right-sidebar-links .link.active .nav-link-filter-icon {
    display: inline-block;
}

#hot-or-not-nav-link-options {
    
}

#main-right-sidebar-profile-card-visual, #main-right-sidebar-profile-card-visual-post-input {
    /* margin-top: 20px; */
    display: flex;
}

#main-right-sidebar-profile-card-pp img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#main-right-sidebar-profile-card-pp, #main-right-sidebar-profile-card-textuals {
    display: inline-block;
    vertical-align: middle;
}

#main-right-sidebar-profile-card-textuals a {
    color: #000;
}

#main-right-sidebar-profile-card-textuals {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

#main-right-sidebar-profile-card-textuals .fullname {
    font-weight: bold;
    font-size: 0.8em;
}

#main-right-sidebar-profile-card-textuals .nickname {
    font-size: 0.7em;
}

#sidebar-flowers-section {
    margin-top: 25px;
}

#sidebar-flower-counter {
    color: #7b7b7b;
    display: inline-block;
    font-size: 0.9em;
}

#buy-flowers-btn {
    color: #fff;
    padding: 5px;
    display: block;
    width: 100%;
    text-align: center;
    border-radius: 4px;
    background-color: #c03b2b;
    border: none;
    margin-top: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border: 1px solid #a7392c;
}

#buy-flowers-btn img {
    height: 20px;
}

#buy-flowers-btn:hover {
    background-color: #ad3a2c;
}

#right-sidebar-paid-heads {
    display: flex;
    margin-top: 20px;
}

#right-sidebar-paid-heads .head {
    margin-left: 10px;
    transition: 0.2s ease-in-out;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    overflow: hidden;
}

#right-sidebar-paid-heads .head img {
    height: 60px;
    width: 60px;
}

#right-sidebar-paid-heads .head:hover {
    transform: scale(0.9);
}

#add-head {
    background-color: #fcb555;
    background-image: url("../img/icons/plus.png");
    cursor: pointer;
    background-size: 47%;
    background-repeat: no-repeat;
    background-position: center;
}

#info-complete-card {
    margin-bottom: 10px;
    display: block;
}

#info-complete-card-title {
    font-weight: bold;
}

.user-info-edit-label {
    margin-bottom: 5px;
    font-size: 0.9em;
    color: #444;
}

#initial-info-update-btn {
    float: left;
    display: inline-block;
    margin-top: 10px;
}

#change-prefrences-bar {
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    width: 280px;
    z-index: 9999;
    display: none;
    box-shadow: 0 0 35px #84848480;
    left: -50%;
    margin-left: -33px;
    transform: translateX(25%);
}

#change-prefrences-bar-arrow {
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    margin: -18px auto auto auto;
}

.interest-label {
    text-align: center;
    font-size: 0.8em;
    color: #7e7e7e;
    display: block;
    margin-top: 8px;
    margin-bottom: -15px;
}

.orientation-item {
    display: inline-block;
    padding: 2px 10px;
    border: 1px solid #ebebeb;
    border-radius: 7px;
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
}

.orientation-item.active {
    border-color: #ad3a2c;
}

.orientation-item:nth-child(1) {
    border-radius: 0 7px 7px 0;
}

.orientation-item:nth-child(2) {
    border-radius: 0;
}

.orientation-item:nth-child(3) {
    border-radius: 7px 0 0 7px;
}

#orientation-selection {
    display: flex;
    margin-top: 22px;
}

.orientation-item.active {
    border-color: #a7392c;
}

.selector {
    position: relative;
    width: calc(100% - 87px);
    display: inline-block;
    color: #7e7e7e;
    margin-left: -16px;
}

#min-age, #max-age {
    width: 25px;
    margin-top: -23px;
}

#age-interest-select-wrap {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selector ul {
    position: relative;
    display: block;
    overflow: auto;
    min-width: 138px;
    max-height: 200px;
    background: #fff;
    list-style: none;
    white-space: inherit;
    padding-right: 17px;
    width: calc(100% + 17px)
}

.selector li {
    position: relative;
    padding: 3px 20px 3px 25px;
    cursor: pointer
}

.selector li:before {
    position: absolute;
    top: 50%;
    left: 0;
    top: 4px;
    display: inline-block;
    margin-right: 9px;
    width: 17px;
    height: 17px;
    background-color: #f4f4f4;
    border: 1px solid #d5d5d5;
    content: ""
}

.selector li[data-selected="1"]:before {
    border: 1px solid #d7d7d7;
    background-color: #fff
}

.selector li[data-selected="1"]:after {
    position: absolute;
    top: 50%;
    left: 3px;
    top: 11px;
    display: inline-block;
    width: 4px;
    height: 10px;
    border-right: 2px solid;
    border-bottom: 2px solid;
    background: none;
    color: #c03b2b;
    content: "";
    -webkit-transform: rotate(40deg) translateY(-50%);
    transform: rotate(40deg) translateY(-50%)
}

.selector li:hover {
    color: #aaa
}

.selector li .total {
    position: absolute;
    right: 0;
    color: #d7d7d7
}

.selector .price-slider {
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding-top: 17px
}

@media (min-width: 768px) {
    .selector .price-slider {
        padding-top:8px
    }
}

.selector .price-slider:before {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: 0;
    color: #39c9a9;
    content: attr(data-currency);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.selector #slider-range {
    width: 100%;
    margin-bottom: 30px;
    border: none;
    background: #ffcec8;
    height: 3px;
}

.selector .ui-slider-handle {
    border-radius: 50%;
    background-color: #c03b2b;
    border: none;
    top: 1px;
    width: 28px;
    height: 28px;
    outline: none;
    position: absolute;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.selector .ui-slider-handle:hover {
    transform: scale(1.15)
}

@media (min-width: 768px) {
    .selector .ui-slider-handle {
        width: 16px;
        height: 16px
    }
}

.selector .ui-slider-range {
    background-color: #d7d7d7
}

.selector .slider-price {
    position: relative;
    display: inline-block;
    padding: 5px 40px;
    width: 40%;
    background-color: #e2f7f2;
    line-height: 28px;
    text-align: center
}

.selector .slider-price:before {
    position: absolute;
    top: 50%;
    left: 13px;
    margin-top: 0;
    color: #39c9a9;
    content: attr(data-currency);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.selector .show-all {
    position: relative;
    padding-left: 25px;
    color: #39c9a9;
    cursor: pointer;
    line-height: 28px
}

.selector .show-all:after, .selector .show-all:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 4px;
    margin-top: -1px;
    color: #39c9a9;
    width: 10px;
    border-bottom: 1px solid
}

.selector .show-all:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.selector.open ul {
    max-height: none
}

.selector.open .show-all:after {
    display: none
}

#update-prefrences-btn {
    margin: auto;
    text-align: center;
    display: block;
}