RewriteEngine on

RewriteBase /AlphaDate/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(signin|join|logout|profile)(/?)$ index.php?page=$1 [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(feed|flowers|geo|friends-of-friends|profiles|matches|meetings)(/?)$ index.php?tab=$1 [L]
RewriteRule ^(profiles)/([0-9]+)(/?)$ index.php?tab=$1&pagination=$2 [L]

RewriteRule ^(profile)/([0-9]+)(/?)$ index.php?page=$1&id=$2 [L]
RewriteRule ^(get_checkbox)/([0-9]+)(/?)$ ajax/chat.php?type=$1&id=$2 [L,NC]
RewriteRule ^(get_group_chatbox)/([0-9]+)(/?)$ ajax/chat.php?type=$1&id=$2 [L,NC]
RewriteRule ^(send_message)(/?)$ ajax/chat.php?type=$1 [L,NC]

RewriteRule ^(post)/(upload)(/?)$ ajax/post.php?type=$2 [L,NC]
RewriteRule ^(update_col)/(/?)$ ajax/profile.php?type=$1 [L,NC]
RewriteRule ^(set-pp)/(/?)$ ajax/profile.php?type=$1 [L,NC]
RewriteRule ^(close_chatbox)/([0-9]+)(/?)$ ajax/chat.php?type=$1&id=$2 [L,NC]
RewriteRule ^(close_chatbox)/group/([0-9]+)(/?)$ ajax/chat.php?type=$1&id=$2&group [L,NC]
RewriteRule ^(fold_chatbox)/([0-9]+)(/?)$ ajax/chat.php?type=$1&id=$2 [L,NC]
RewriteRule ^(fold_chatbox)/group/([0-9]+)(/?)$ ajax/chat.php?type=$1&id=$2&group [L,NC]
RewriteRule ^(new_group)(/?)$ ajax/chat.php?type=$1 [L]
RewriteRule ^(messages_listen)(/?)$ ajax/chat.php?type=$1 [L,NC]

RewriteRule ^(post)/(heart)/([0-9]+)(/?)$ ajax/post.php?type=$2&post_id=$3 [L,NC]
RewriteRule ^(post)/(comment)(/?)$ ajax/post.php?type=$2&post_id=$3 [L,NC]
RewriteRule ^(post)/(get_comments)(/?)$ ajax/post.php?type=$2&post_id=$3 [L,NC]

RewriteRule ^(send_flower)(/?)$ ajax/profile.php?type=$1 [L,NC]
RewriteRule ^(upload_hon_pic)(/?)$ ajax/hon.php?type=$1 [L,NC]
RewriteRule ^(delete_hon_pic)(/?)$ ajax/hon.php?type=$1 [L,NC]
RewriteRule ^(user_join_hon)(/?)$ ajax/hon.php?type=$1 [L,NC]
RewriteRule ^(get_next_hon)(/?)$ ajax/hon.php?type=$1 [L,NC]
RewriteRule ^(hon)/(heart)(/?)$ ajax/hon.php?type=$2 [L,NC]
RewriteRule ^(hon)/(reject)(/?)$ ajax/hon.php?type=$2 [L,NC]

RewriteRule ^(date)/(invite)(/?)$ ajax/dates.php?type=$2 [L,NC]

RewriteRule ^(meetings)/(my|memories)(/?)$ index.php?tab=$1&type=$2 [L]
RewriteRule ^(dates)/(approve|reject)(/?)$ ajax/dates.php?type=$2 [L]
RewriteRule ^(user)/(block)(/?)$ ajax/profile.php?type=block-user [L]

RewriteRule ^(profiles)/(all)(/?)$ index.php?tab=$1&$2 [L]

RewriteRule ^(story)/(upload)(/?)$ ajax/story.php?type=$2 [L]
RewriteRule ^(story)/(get_user_stories)/([0-9]+)(/?)$ ajax/story.php?type=$2&userid=$3 [L]
RewriteRule ^(story)/(get)/([0-9]+)(/?)$ ajax/story.php?type=$2&storyid=$3 [L]

RewriteRule ^(contact)(/?)$ contact.php [L]
RewriteRule ^(about)(/?)$ about.php [L]
RewriteRule ^(terms)(/?)$ terms.php [L]

RewriteRule ^(get-main-feed-page)/([0-9]+)(/?)$ ajax/feed.php?type=$1&page=$2 [L]

RewriteRule ^(conversation)/([0-9]+)(/?)$ index.php?page=$1&id=$2 [NC]
RewriteRule ^(conversation)/(group)/([0-9]+)(/?)$ index.php?page=$1&id=$3&group [NC]

RewriteRule ^(conversation)/(read)/([0-9]+)(/?)$ ajax/chat.php?type=$2&userid=$3 [NC]
RewriteRule ^(conversation)/(read)/(group)/([0-9]+)(/?)$ ajax/chat.php?type=$2&groupid=$4 [NC]

RewriteRule ^(feed)/(sort)(/?)$ ajax/feed.php?type=$2 [NC]