<div id="new-post-input-card" class="card">
    <form id="post-upload-form">
        <div id="main-right-sidebar-profile-card-visual-post-input">
            <div id="main-right-sidebar-profile-card-pp">
                <a href="/AlphaDate/profile/"><img src="/AlphaDate/img/pp.jpg" alt=""></a>
            </div>

            <div id="main-right-sidebar-profile-card-textuals">
                <a href="/AlphaDate/profile/">
                    <div class="fullname">{{ fullname }}</div>
                    <div class="nickname">{{ nickname }}</div>
                </a>
            </div>
        </div>

        <textarea placeholder="שתף את העוקבים שלך..." id="new-post-input-card-content"></textarea>

        <div id="new-post-bottom">
            <div id="new-post-additionals">
                <div class="new-post-additional"><i class="fas fa-camera"></i></div>
            </div>

            <div id="new-post-submition-wrap" class="mr-auto">
                <input type="submit" value="פרסם">
            </div>
        </div>
    </form>
</div>