<div class="comment-wrap">
    <div class="user-dets">
        <div class="user-image"> <img src="{{ pp }}"> </div>
    </div>

    <div class="textual">
        <div class="fullname">{{ fullname }}</div>
        <div class="comment-text">{{ text }}</div>
    </div>
</div>